package user

templ Menu(){
  <div class="menu">
    <div>
      Currently watching

      <div>
        <!-- query -->
        <span>View all movies</span>
        <span>Add movie</span>
        <span>General Update</span>
      </div>
    </div>

    <div>
      Movie challenge
      <!-- generic bar of movies_watched/number -->
    </div>
    <div>
      Want to Watch
      <!-- Query -->
    </div>
    <h2>Categorias</h2>
    <!-- in ul -->
    <!-- query de categorias -->
  </div>

}


